body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:369px;
  width:170px;
  height:170px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1172px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:62px;
  width:67px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1784px;
  height:9px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:139px;
  width:1779px;
  height:4px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:87px;
  width:300px;
  height:34px;
}
#u462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:90px;
  width:27px;
  height:28px;
  color:#D7D7D7;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:36px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:85px;
  width:35px;
  height:36px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:36px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:1716px;
  top:88px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:905px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:58px;
  -moz-box-shadow:20px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:20px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:20px 5px 5px rgba(188, 188, 188, 0.349019607843137);
}
#u466 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:207px;
  width:1161px;
  height:905px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:164px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:253px;
  width:181px;
  height:164px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:442px;
  width:130px;
  height:24px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:234px;
  width:850px;
  height:850px;
}
#u469_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:850px;
  overflow:hidden;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:2px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:123px;
  width:267px;
  height:1px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:90px;
  width:85px;
  height:28px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  word-wrap:break-word;
}
