body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:920px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:920px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:115px;
  top:375px;
}
#u279_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background-image:none;
}
#u279_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 255, 255, 1);
  border:none;
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:235px;
  width:140px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:133px;
  width:72px;
  height:35px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:235px;
  width:300px;
  height:32px;
}
#u283_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:23px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:291px;
  width:262px;
  height:23px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:174px;
  top:531px;
}
#u285_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background-image:none;
}
#u285_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 255, 102, 1);
  border:none;
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:260px;
  top:686px;
}
#u287_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background-image:none;
}
#u287_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 255, 51, 1);
  border:none;
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u289 {
  position:absolute;
  left:763px;
  top:481px;
}
#u289_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background-image:none;
}
#u289_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  border:none;
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u291 {
  position:absolute;
  left:1460px;
  top:362px;
}
#u291_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background-image:none;
}
#u291_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u293 {
  position:absolute;
  left:1254px;
  top:680px;
}
#u293_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background-image:none;
}
#u293_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u295 {
  position:absolute;
  left:1388px;
  top:514px;
}
#u295_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background-image:none;
}
#u295_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 153, 255, 1);
  border:none;
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
